In [1]:
#data analysis libraries 
import numpy as np
import pandas as pd

# covid_19_data.csv

from: https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset

columes description belows:

* Sno - Serial number
* ObservationDate - Date of the observation in MM/DD/YYYY
* Province/State - Province or state of the observation (Could be empty when missing)
* Country/Region - Country of observation
* Last Update - Time in UTC at which the row is updated for the given province or country. (Not standardised and so please clean before using it)
* Confirmed - Cumulative number of confirmed cases till that date
* Deaths - Cumulative number of of deaths till that date
* Recovered - Cumulative number of recovered cases till that date

各國家與省份的確診統計

In [2]:
covid_19_data = pd.read_csv("./covid_19_data.csv")

covid_19_data.describe(include="all")

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
count,156292.000000,156292,111979,156292,156292,1.562920e+05,156292.000000,1.562920e+05
unique,NaN,299,733,226,2039,NaN,NaN,NaN
top,NaN,11/12/2020,Unknown,US,2020-11-11 05:25:30,NaN,NaN,NaN
freq,NaN,758,1484,15430,1491,NaN,NaN,NaN
mean,78146.500000,NaN,NaN,NaN,NaN,2.844340e+04,966.090273,1.793232e+04
std,45117.758473,NaN,NaN,NaN,NaN,8.809800e+04,3278.110680,9.813018e+04
min,1.000000,NaN,NaN,NaN,NaN,-3.028440e+05,-178.000000,-8.544050e+05
25%,39073.750000,NaN,NaN,NaN,NaN,3.900000e+02,5.000000,1.000000e+01
50%,78146.500000,NaN,NaN,NaN,NaN,3.410000e+03,67.000000,7.570000e+02
75%,117219.250000,NaN,NaN,NaN,NaN,1.597875e+04,486.000000,6.270000e+03
max,156292.000000,NaN,NaN,NaN,NaN,1.867721e+06,45974.000000,4.174884e+06

In [3]:
covid_19_data.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [11]:
covid_19_data.shape

(156292, 8)

# COVID19_line_list_data.csv

自1/20/2020 ～ 2/28/2020 確診詳細案例 (未按順序排列)

In [13]:
COVID19_line_list_data = pd.read_csv("./COVID19_line_list_data.csv")

COVID19_line_list_data.describe(include="all")

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,...,recovered,symptom,source,link,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
count,1085.000000,888.000000,1084,0.0,1080,1085,1085,902,843.000000,563,...,1085,270,1085,1085,0.0,0.0,0.0,0.0,0.0,0.0
unique,NaN,NaN,43,NaN,967,156,38,2,NaN,70,...,32,108,85,490,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,2/27/2020,NaN,new confirmed COVID-19 patient in South Korea:,South Korea,China,male,NaN,1/23/2020,...,0,fever,Ministry of Health,https://www.mhlw.go.jp/stf/houdou/houdou_list_...,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,91,NaN,22,112,197,520,NaN,27,...,926,73,179,88,NaN,NaN,NaN,NaN,NaN,NaN
mean,543.000000,48.841216,NaN,NaN,NaN,NaN,NaN,NaN,49.483689,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,313.356825,78.853528,NaN,NaN,NaN,NaN,NaN,NaN,18.255334,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.250000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,272.000000,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,35.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,543.000000,28.000000,NaN,NaN,NaN,NaN,NaN,NaN,51.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,814.000000,67.250000,NaN,NaN,NaN,NaN,NaN,NaN,64.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1085.000000,1443.000000,NaN,NaN,NaN,NaN,NaN,NaN,96.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
COVID19_line_list_data.head()

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,...,recovered,symptom,source,link,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,...,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,...,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,1/21/2020,NaN,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46.0,01/04/20,...,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60.0,NaN,...,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,male,58.0,NaN,...,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?,NaN,NaN,NaN,NaN,NaN,NaN

# time_series_covid_19_confirmed_US

美國各洲、確診

In [9]:
time_series_covid_19_confirmed_US = pd.read_csv("./time_series_covid_19_confirmed_US.csv")
time_series_covid_19_deaths_US  = pd.read_csv("time_series_covid_19_deaths_US.csv")

time_series_covid_19_confirmed_US.shape

(3340, 310)

In [10]:
time_series_covid_19_confirmed_US.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2242,2267,2283,2304,2328,2351,2385,2417,2435,2456
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,7134,7188,7226,7263,7348,7409,7454,7523,7596,7646
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1090,1092,1095,1098,1107,1112,1113,1117,1123,1128
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,917,924,926,932,948,961,966,973,978,986
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,2253,2286,2297,2335,2378,2400,2429,2488,2518,2549

# Population by Country - 2020

from : https://www.kaggle.com/tanuprabhu/population-by-country-2020

In [15]:
population_by_country_2020 = pd.read_csv("population_by_country_2020.csv")

population_by_country_2020.describe(include="all")

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
count,235,2.350000e+02,235,2.350000e+02,235.000000,2.350000e+02,201.000000,235,235,235,235
unique,235,NaN,174,NaN,NaN,NaN,NaN,51,35,81,74
top,Saudi Arabia,NaN,1.48 %,NaN,NaN,NaN,NaN,N.A.,N.A.,N.A.,0.00 %
freq,1,NaN,4,NaN,NaN,NaN,NaN,34,34,13,57
mean,NaN,3.322744e+07,NaN,3.460878e+05,475.770213,5.535918e+05,6.283582,NaN,NaN,NaN,NaN
std,NaN,1.353034e+08,NaN,1.128260e+06,2331.285935,1.687796e+06,123291.887548,NaN,NaN,NaN,NaN
min,NaN,8.010000e+02,NaN,-3.838400e+05,0.000000,0.000000e+00,-653249.000000,NaN,NaN,NaN,NaN
25%,NaN,3.994905e+05,NaN,4.240000e+02,37.000000,2.545000e+03,-10047.000000,NaN,NaN,NaN,NaN
50%,NaN,5.460109e+06,NaN,3.917000e+04,95.000000,7.724000e+04,-852.000000,NaN,NaN,NaN,NaN
75%,NaN,2.067170e+07,NaN,2.496600e+05,239.500000,4.038200e+05,9741.000000,NaN,NaN,NaN,NaN
max,NaN,1.440298e+09,NaN,1.358663e+07,26337.000000,1.637687e+07,954806.000000,NaN,NaN,NaN,NaN

In [16]:
population_by_country_2020.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %